<h2>Estudantes</h2>
<ul class="student">
    <li *ngFor="let student of student"
    [class.selected]="student === selectedStudent"
    (click)="onSelect(student)">
        <span class="badge">{{student.id}}</span> {{student.name}}
    </li>
</ul>

<div *ngIf="selectedStudent">
    <h2>Informações do(a) estudante</h2>
    <div><span>Código: </span>{{selectedStudent.id}}</div>
    <div>
        <label for="name">Nome: </label>
        <input id="name" [(ngModel)]="selectedStudent.name" placeholder="name">
        <br/>
        <label for="age">Idade: </label>
        <input id="age" [(ngModel)]="selectedStudent.age" placeholder="age">
        <br/>
        <label for="sex">Sexo: </label>
        <input id="sex" [(ngModel)]="selectedStudent.sex" placeholder="sex">
        <br/>
        <label for="cpf">CPF: </label>
        <input id="cpf" [(ngModel)]="selectedStudent.cpf" placeholder="cpf">
        <br/>
        <label for="address">Endereço: </label>
        <input id="address" [(ngModel)]="selectedStudent.address" placeholder="address">
        <br/>
        <label for="blood">Tipo sanguíneo: </label>
        <input id="blood" [(ngModel)]="selectedStudent.blood" placeholder="blood">
    </div>
    <p>Funcionando Corretamente!</p>
</div>
